@page
@model UsersModel
@{
    ViewData["Title"] = "Lista de Usuarios";
}

<h1>Lista de Usuarios</h1>

@if (Model.Users != null && Model.Users.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Nombre de Usuario</th>
                <th>Dirección</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.id</td>
                    <td>@user.name</td>
                    <td>@user.username</td>
                    <td>@user.address.street, @user.address.suite, @user.address.city, @user.address.zipcode</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No se pudieron cargar los usuarios.</p>
}
